@model AddPostModel

<form asp-action="Create" asp-asp-controller="Post" method="post">
    <input type="text" asp-for="Title" />
    <input type="text" asp-for="Description" />
    <button class="btn btn-primary">Save</button>
</form>


